* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 1.6rem;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 0.8rem;
}

.sketch-container {
    border: 1px solid black;
    width: 550px;
    height: 550px;
}